<footer class="site-footer">

  <div class="wrapper">

      <div class="footer-col  footer-col-1">
        <ul class="social-media-list">
           <li>
             <i class="fa fa-envelope"></i>
             <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
          {% if site.github_username %}
          <li>
              <i class="fa fa-github"></i>
              <a href="https://github.com/{{ site.github_username }}"><span class="username">{{ site.github_username }}</span></a>
          </li>

          <li>
            <i class="fa fa-linkedin-square"></i>
            <a href="https://www.linkedin.com/in/glennpeng/"><span class="username">Glenn Peng</span></a>
          </li>
          {% endif %}
          <li>
            <i class="fa fa-google"></i>
            <a href="https://scholar.google.com/scholar?hl=en&q=%22author%3Aho-lan+peng%22&btnG=&as_sdt=1%2C44&as_sdtp=&oq=%22%22"><span class="username">"author:Ho-Lan Peng"</span></a>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-23">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>
  </div>

</footer>
